.form-control{
  margin-bottom: 10px;
  width: 270px;
}
.form-control:first-child
{
  margin-top: 20px;
}

.container{
  background-image: url("https://images.unsplash.com/photo-1455655087310-822c52aea57f?dpr=1.5&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=");
  background-position: top;
  background-size: cover;
}

html,body,.container
{
  height: 100%;
  width: 100%;
}
#formset{
  background-color: white;
  width:300px;
  padding: 15px;
  margin-top: 25px;
  border-radius: 3px;
}
#formset>h1{
  font-size: 21px;
  margin-top: 0px;
}
#complete
{
  font-weight: 300;
  border-radius: 3px;
  color:white;
  background-color: #81C784;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top: 10px;
}
#incomplete
{
  font-weight: 300;
  border-radius: 3px;
  color:white;
  background-color: #EF5350;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top: 10px;
}
#firebase
{
  margin-bottom: 10px;
}
